<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProductService" />
                <binding name="BasicHttpBinding_IPopupService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60172/ProductService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService"
                contract="ProductService.IProductService" name="BasicHttpBinding_IProductService" />
            <endpoint address="http://localhost:60172/PopupService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPopupService" contract="PopupService.IPopupService"
                name="BasicHttpBinding_IPopupService" />
        </client>
    </system.serviceModel>
</configuration>