<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProductService" />
                <binding name="BasicHttpBinding_IPopupService" />
                <binding name="BasicHttpBinding_IEmployeeService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60172/ProductService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService"
                contract="ProductService.IProductService" name="BasicHttpBinding_IProductService" />
            <endpoint address="http://localhost:60172/PopupService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IPopupService" contract="PopupService.IPopupService"
                name="BasicHttpBinding_IPopupService" />
            <endpoint address="http://localhost:60172/EmployeeService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmployeeService"
                contract="EmployeeService.IEmployeeService" name="BasicHttpBinding_IEmployeeService" />
        </client>
    </system.serviceModel>

  <connectionStrings>
    <add name="SmoothDB"
    connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=smoothdb;password=G4856162651O;"/>
  </connectionStrings>
</configuration>