<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <add name="SmoothDB"
    connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=smoothdb;password=G4856162651O;"/>
  </connectionStrings>
  
</configuration>