<?xml version="1.0" encoding="utf-8" ?>
<configuration>
      <connectionStrings>
      <add name="SmoothDB"
      connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=smoothdb;password=G4856162651O;"/>
    </connectionStrings>

<appSettings>
       <add key="SmoothDB" value="server=localhost;user id=root;persistsecurityinfo=True;database=smoothdb;password=G4856162651O;"/>
    </appSettings>
</configuration>